.game-header {
  background-color: #553d03;
  color: white;
  height: 50px;
}

.game-footer {
  position: fixed;
  left: 0;
  bottom: 60px;
  width: 100%;
}

body {
  background-color: #008042;
}

.player-text {
  color: black;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}

.player-text:hover .dropdown{background-color: #d8d8d8}

.card-box {
  margin-top: 30px;
}

.card-img {
  border-radius: 7px;
  width: 50%;
  height: 50%;
  max-width: 237px;
  margin: auto;
  box-shadow: 3px 3px 4px rgb(34, 34, 34);
}

.dropbtn {
  width: 170px;
  border-radius: 5px;
  align-self: left;
  height: 50px;
  margin-top: 15px;
  position: relative;
  background-color: white;
  align-content: center;
  box-shadow: 3px 3px 4px rgb(34, 34, 34)
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {display: block;}

.hand-button {
  align-items: flex-start;
  justify-content: center;
}

.book-button {
  width: 130px;
  justify-content: flex-end;
  align-items: center;
  margin: 19px;
  box-shadow: 3px 3px 4px rgb(34, 34, 34)
}

.player-list {
  width: 50%;
  order: 0;
}

.taking_turn {
  width: 50%;
  order: 1;
  font-size: 20px;
  color: white;
}

/* making a popup box using CSS */

.button {
  position: absolute;
  left: 42%;
  top: 50%;
  font-size: 1em;
  padding: 10px;
  color: #00bf63;
  border: 2px solid #ffda55;
  background: #553d03;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #855f07;
}

.card-btn {
  width: 70px;
  height: 30px;
  border-radius: 5px;
  background-color: white;
  color: black;
  box-shadow: 3px 3px 4px rgb(34, 34, 34);
  border: 1px black solid;
}

.card-btn:hover {
  background-color: rgb(228, 228, 228);
}

.card-list-item {
  text-align: center;
}

.player-btn {
  width: 70px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(148, 133, 133);
  box-shadow: 3px 3px 4px rgb(34, 34, 34);
  border: 1px black solid;
}

.player-btn:hover {
  background-color: rgb(121, 106, 106);
}

.ask-btn {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: #d7b747;
  font-size: 20px;
  box-shadow: 3px 3px 4px rgb(34, 34, 34);
  border: 1px black solid;
}

.ask-btn:hover {
  background-color: #ffda55;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  color: #ffda55;
  margin: 70px auto;
  padding: 20px;
  background: rgba(58, 150, 107, 0.776);
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 2s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: black;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.popup .close:hover {
  color: rgb(216, 6, 6);
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}