.flex {display: flex;}

.flex_row {flex-direction: row;}

.flex_column {flex-direction: column;}

.flex_start {justify-content: flex-start;}

.flex_end {justify-content: flex-end;}

.justify_around {justify-content: space-around;}

.justify_between {justify-content: space-between}

.justify_center {justify-content: center;}

.justify_right {justify-content: right;}

.justify_left {justify-content: left;}

.items_stretch {align-items: stretch;}

body {
  height: 100%-80px;
  width: auto;
  margin: auto;
  font: 12pt Helvetica, sans-serif;
  background-image: url(https://www.worshipwoodworks.com/app/uploads/2013/12/p-5797-580.09-2.jpg);
  overflow: scroll;
}

.btn {
  width: 300px;
  border-radius: 5px;
  align-self: center;
  height: 50px;
  margin-top: 15px;
  margin: auto;
  position: relative;
  background-color: #553d03;
  box-shadow: 3px 3px 4px rgb(34, 34, 34)
}

.btn-small {
  width: 100px;
  border-radius: 5px;
  align-self: center;
  height: 50px;
  margin-top: 15px;
  position: relative;
}

.log_in {
  position: relative;
  margin-top: 25px;
  background-color: #553d03;
  text-align: center;
  box-shadow: 3px 3px 4px rgb(34, 34, 34)
}

.log_in_header {
  width: 100%;
  height: 80px;
  background-color: #553d03;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  box-shadow: 4px 4px 4px rgb(34, 34, 34)
}

.header_text {
  color: white;
  position: relative;
  justify-content: center;
  font-size: 20px;
}

container {
  display: flex;
}

.room-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 25px;
}

.page {
  height: (100% - 80px)
  overflow: scroll;
}